parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    scanFiles:
        - archived-post-status.php
        - src/archived-post-status.php
    scanDirectories:
        - src/
    paths:
        - src/
